.selectChoice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 5px;
}
.selectChoice_offer, .selectChoice_receive {
  border: none;
  width: 68px;
  color: #fff;
  text-align: left !important;
  padding: 7px 0 7px 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 11px;
  cursor: pointer;
}
.selectChoice_offer {
  background-color: #01b261;
}
.selectChoice_receive {
  background-color: #005a81;
}

.block_presentation--gift-text button {
  background-color: #01b261;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 8px;
}

@media screen and (min-width: 500px) {
  .selectChoice {
    position: absolute;
    right: 0;
    top: 5rem;
  }
}
@media screen and (min-width: 850px) {
  .selectChoice {
    top: 7rem;
  }
  .selectChoice_offer, .selectChoice_receive {
    width: 90px !important;
    padding-left: 25px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .selectChoice {
    top: 8.5rem;
    row-gap: 7px;
  }
  .selectChoice_offer, .selectChoice_receive {
    width: 120px !important;
    padding: 12px 0 12px 35px;
    font-size: 17px;
  }
}
@keyframes appearNavbar {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
  }
}
.nav {
  max-width: 100%;
}
.nav_logo img {
  max-width: 200px;
  height: auto;
}
.nav_menu {
  display: none;
  list-style: none;
  line-height: 1.3rem;
  color: #005a81;
  padding: 1rem 0;
}
.nav_menu span {
  display: none;
}
.nav_menu--item {
  padding-left: 2rem !important;
  font-weight: 600;
  cursor: pointer;
}
.nav_menu.status {
  display: block !important;
  background-color: #f3f3f3;
  animation: appearNavbar 1300ms ease-in-out;
}
.nav_hamburger {
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  padding: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  background: transparent;
}
.nav_hamburger--line {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  display: block;
  width: 23px;
  height: 2px;
  border-radius: 15px;
  background: #005a81;
  transition: transform 300ms ease-out, opacity 0.1s ease-out;
}
.nav_hamburger--line.l1 {
  transform: translateY(-10px);
}
.nav_hamburger--line.l2 {
  background-color: #01b261;
}
.nav_hamburger--line.l3 {
  transform: translateY(10px);
}
.nav_hamburger.active .l1 {
  transform: translateY(0px) rotate(135deg);
}
.nav_hamburger.active .l2 {
  opacity: 0;
}
.nav_hamburger.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

@media screen and (min-width: 850px) {
  .nav_hamburger {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav_menu {
    display: flex;
    column-gap: 10px;
    padding-top: 25px;
  }
  nav .nav_menu span {
    display: inline;
  }
  nav .nav_menu--item {
    padding-left: 0 !important;
  }
  nav .nav_menu--item:nth-of-type(7) {
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  nav .nav_logo img {
    max-width: 300px;
  }
  nav .nav_menu {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  nav .nav_menu {
    font-size: 20px;
  }
  nav .nav_menu--item:nth-of-type(7) {
    padding-right: 2.2rem;
  }
}
.block_presentation--gift {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.block_presentation--gift-img {
  width: 150px;
}
.block_presentation--gift-text {
  margin-top: 2.5rem;
}
.block_presentation--gift-text h2 {
  font-size: 14px;
  color: #005a81;
}
.block_presentation--gift-text h2 img {
  width: 10px;
  padding-bottom: 6px;
  margin-right: -4px;
}
.block_presentation--gift-text p {
  font-size: 10px;
  width: 10rem;
  padding: 10px 0;
}
.block_presentation--working {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
}
.block_presentation--working-img {
  width: 125px;
  object-fit: contain;
}
.block_presentation--working-text h2 {
  font-size: 14px;
  color: #005a81;
}
.block_presentation--working-text ul {
  list-style: none;
  font-size: 10px;
  width: 10rem;
}
.block_presentation--working-text ul span {
  color: #005a81;
}
.block_presentation--working-text ul li {
  padding: 3px 0;
}
.block_presentation--working-text ul li:nth-of-type(3) {
  font-weight: 600;
}
.block_presentation--working-text ul li:nth-of-type(3) img {
  width: 11px;
}

@keyframes appearNavbar {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
  }
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
