.selectChoice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 5px;
}
.selectChoice_offer, .selectChoice_receive {
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  width: 68px;
  text-align: left !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}
.selectChoice_offer {
  background-color: #01b562;
}
.selectChoice_receive {
  background-color: #005a81;
}

.block_presentation--united-gift-text button {
  background-color: #01b562;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
}

.block_position--search-button {
  position: relative;
}
.block_position--search-button img {
  position: absolute;
  width: 15px;
  top: 8px;
  left: 4px;
}
.block_position--search-button input {
  border: 2px solid #01b562;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 0.7rem;
  max-width: 50%;
  padding: 7px 60px 5px 20px;
}
.block_position--search-button button {
  position: absolute;
  bottom: 0;
  border-radius: 50px;
  background-color: #005a81;
  border: 2px solid #01b562;
  color: #fff;
  font-size: 0.7rem;
  right: 0.5rem;
  padding: 6px 5px;
}

.block_mission--united-text button {
  background-color: #01b562;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
}

.block_shopkeepers--text-btn1 {
  background-color: #01b562;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
}
.block_shopkeepers--text-btn2 {
  background-color: #005a81;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
}

.block_press--text button {
  background-color: #01b562;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
}

.block_readyTogether--text-button {
  position: relative;
}
.block_readyTogether--text-button img {
  position: absolute;
  width: 15px;
  top: 6px;
  left: 4px;
}
.block_readyTogether--text-button input {
  border: 2px solid #01b562;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 0.7rem;
  max-width: 50%;
  padding: 5px 60px 5px 20px;
}
.block_readyTogether--text-button button {
  position: absolute;
  bottom: 0;
  border-radius: 50px;
  background-color: #005a81;
  border: 2px solid #01b562;
  color: #fff;
  font-size: 0.7rem;
  right: 0rem;
  padding: 5px 15px;
}

.block_footer--contact-newsletter-registration-btn input {
  border-radius: 5px;
  border: none;
  padding: 4px 10px;
  margin: 0 5px 5px 0;
  font-size: 0.7rem;
}
.block_footer--contact-newsletter-registration-btn button {
  background-color: #01b562;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
}

@media screen and (min-width: 490px) {
  .block_position--search-button img {
    width: 19px;
    top: 6px;
    left: 4px;
  }
  .block_position--search-button input {
    width: 8.5rem;
    padding: 6px 65px 6px 25px;
  }
  .block_position--search-button button {
    padding: 6px;
  }

  .selectChoice {
    position: absolute;
    right: 0;
    top: 5rem;
  }

  .block_readyTogether--text-button {
    margin-top: 10px;
  }
  .block_readyTogether--text-button input {
    padding: 6px 65px 6px 25px;
  }
  .block_readyTogether--text-button button {
    padding: 6px 15px;
  }
}
@media screen and (min-width: 750px) {
  .selectChoice_offer, .selectChoice_receive {
    font-size: 0.9rem;
    width: 90px !important;
    padding-left: 25px;
  }

  .block_position--search-button input {
    font-size: 0.9rem;
    width: 11rem;
  }
  .block_position--search-button button {
    font-size: 0.9rem;
  }
  .block_position--search-button img {
    width: 22px;
  }

  .block_presentation--united-gift-text button,
.block_mission--united-text button,
.block_shopkeepers--text-btn1,
.block_shopkeepers--text-btn2,
.block_press--text button {
    font-size: 0.9rem;
  }

  .block_readyTogether--text-button img {
    width: 22px;
  }
  .block_readyTogether--text-button input {
    padding: 7px 65px 7px 25px;
    font-size: 0.9rem;
    width: 14rem;
  }
  .block_readyTogether--text-button button {
    padding: 7px 20px;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 900px) {
  .selectChoice {
    top: 7rem;
  }

  .block_position--search-button input {
    width: 10rem;
    padding-right: 80px;
  }

  .block_shopkeepers--text-btn1 {
    margin-top: 1rem;
  }

  .block_footer--contact-newsletter-registration-btn input {
    width: 13rem;
  }
}
@media screen and (min-width: 1000px) {
  .block_presentation--united-gift-text button,
.block_mission--united-text button,
.block_press--text-button-btn1,
.block_press--text-button-btn2 {
    padding: 12px 15px;
  }

  .block_position--search-button button {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem;
    right: -0.5rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .selectChoice {
    top: 8.5rem;
    row-gap: 7px;
  }
  .selectChoice_offer, .selectChoice_receive {
    width: 120px !important;
    padding: 12px 0 12px 35px;
    font-size: 17px;
  }

  .block_presentation--united-gift-text button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .block_position--search-button button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    right: 0 !important;
  }
  .block_position--search-button input {
    padding: 11px 45px;
    margin-top: 1rem;
    font-size: 1rem;
    width: 16rem;
    max-width: 45%;
  }
  .block_position--search-button img {
    top: 23px;
    left: 8px;
    width: 30px;
  }

  .block_mission--united-text button {
    font-size: 1rem;
    padding: 12px 25px;
    margin-top: 0.9rem;
  }

  .block_shopkeepers--text-btn1, .block_shopkeepers--text-btn2 {
    padding: 12px 25px;
  }

  .block_press--text button {
    padding: 12px 25px;
  }

  .block_readyTogether--text-button img {
    width: 25px;
    top: 8px;
  }
  .block_readyTogether--text-button input {
    padding: 10px 65px 10px 35px;
    font-size: 0.9rem;
    width: 15rem;
    max-width: 50%;
  }
  .block_readyTogether--text-button button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .block_footer--contact-newsletter-registration-btn input {
    width: 16rem;
  }
}
.block_presentation--united-gift-text h2 {
  font-size: 1.4rem;
  color: #00384c;
  font-weight: 300;
}
.block_presentation--united-gift-text h2 img {
  width: 15px;
  padding-bottom: 10px;
  margin-right: -10px;
  margin-left: -3px;
}

.block_presentation--united-working-text h2 {
  color: #00384c;
  font-weight: 300;
  font-size: 1.3rem;
}

.block_position--search h3 {
  color: #00384c;
  font-weight: 300;
  font-size: 1.3rem;
}

.block_mission--united-text h3 {
  color: #00384c;
  font-weight: 300;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.block_shopkeepers--text h3 {
  color: #00384c;
  font-weight: 300;
  font-size: 1.3rem;
  color: #000 !important;
}

.block_press--text h3 {
  color: #00384c;
  font-weight: 300;
  font-size: 1.3rem;
  color: #000;
}
.block_press--text h3 img {
  width: 13px;
}

.block_newspapers--text-card h5 {
  font-size: 0.7rem;
}

.block_readyTogether--text h3 {
  color: #00384c;
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.block_footer h5 {
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(255, 255, 255) !important;
  font-size: 0.8rem;
}

.block_footer--contact h4 {
  color: #fff;
  text-align: right;
  font-family: "Damion", cursive;
  font-size: 1.3rem;
  font-weight: 300;
}

@media screen and (min-width: 490px) {
  .block_presentation--united-gift-text h2 {
    font-size: 1.7rem;
  }

  .block_presentation--united-working-text h2,
.block_position--search h3,
.block_mission--united-text h3,
.block_shopkeepers--text h3,
.block_press--text h3,
.block_readyTogether--text h3 {
    font-size: 1.4rem;
  }

  .block_press--text h3 img {
    width: 17px;
  }

  .block_newspapers--text-card h5 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 700px) {
  .block_presentation--united-gift-text h2 {
    font-size: 2.5rem;
  }

  .block_presentation--united-working-text h2,
.block_position--search h3,
.block_mission--united-text h3,
.block_shopkeepers--text h3,
.block_press--text h3,
.block_readyTogether--text h3 {
    font-size: 2rem;
  }

  .block_press--text h3 img {
    width: 20px;
  }

  .block_newspapers--text-card h5 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 950px) {
  .block_presentation--united-gift-text h2 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .block_presentation--united-working-text h2,
.block_position--search h3,
.block_mission--united-text h3,
.block_shopkeepers--text h3,
.block_press--text h3,
.block_readyTogether--text h3 {
    font-size: 2.4rem;
  }

  .block_newspapers--text-card h5 {
    font-size: 1.2rem;
  }
}
@keyframes appearNavbar {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
  }
}
.nav {
  max-width: 100%;
}
.nav_logo img {
  max-width: 200px;
  height: auto;
}
.nav_menu {
  display: none;
  list-style: none;
  line-height: 1.3rem;
  color: #005a81;
  padding: 1rem 0;
}
.nav_menu span {
  display: none;
}
.nav_menu--item {
  padding-left: 2rem !important;
  font-weight: 600;
  cursor: pointer;
}
.nav_menu.status {
  display: block !important;
  background-color: #f3f3f3;
  animation: appearNavbar 500ms ease-in-out;
}
.nav_hamburger {
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  padding: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  background: transparent;
}
.nav_hamburger--line {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  display: block;
  width: 23px;
  height: 2px;
  border-radius: 15px;
  background: #005a81;
  transition: transform 300ms ease-out, opacity 0.1s ease-out;
}
.nav_hamburger--line.l1 {
  transform: translateY(-10px);
}
.nav_hamburger--line.l2 {
  background-color: #01b562;
}
.nav_hamburger--line.l3 {
  transform: translateY(10px);
}
.nav_hamburger.active .l1 {
  transform: translateY(0px) rotate(135deg);
}
.nav_hamburger.active .l2 {
  opacity: 0;
}
.nav_hamburger.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

@media screen and (min-width: 850px) {
  .nav_hamburger {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav_menu {
    display: flex;
    column-gap: 10px;
    padding-top: 25px;
  }
  nav .nav_menu span {
    display: inline;
  }
  nav .nav_menu--item {
    padding-left: 0 !important;
  }
  nav .nav_menu--item:nth-of-type(7) {
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  nav .nav_logo img {
    max-width: 300px;
  }
  nav .nav_menu {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  nav .nav_menu {
    font-size: 20px;
  }
  nav .nav_menu--item:nth-of-type(7) {
    padding-right: 2.2rem;
  }
}
.block_presentation {
  position: relative;
}
.block_presentation--background {
  width: 100%;
  z-index: -10;
  position: absolute;
  top: -2rem;
  left: 0;
  -webkit-border-radius: 50%;
  border-radius: 50% !important;
  border: 2px dashed rgba(0, 90, 129, 0.4);
  padding: 5px;
}
.block_presentation--united {
  display: flex;
  flex-direction: column;
}
.block_presentation--united-gift {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  z-index: 10;
}
.block_presentation--united-gift-img {
  width: 140px;
  z-index: 30;
  margin-top: -2rem;
}
.block_presentation--united-gift-text p {
  font-size: 0.6rem;
  width: 9rem;
  padding: 5px 0;
}
.block_presentation--united-working {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
  column-gap: 10px;
  align-items: center;
  z-index: 10;
}
.block_presentation--united-working-img {
  width: 70px;
  height: auto;
  object-fit: contain;
  z-index: 30;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50% !important;
  border: 2px dashed rgba(0, 90, 129, 0.4);
  padding: 5px;
}
.block_presentation--united-working-text ul {
  list-style: none;
  font-size: 0.6rem;
  width: 12rem;
  color: rgb(94, 93, 93);
}
.block_presentation--united-working-text ul span {
  color: #005a81;
  font-weight: 600;
}
.block_presentation--united-working-text ul li:nth-of-type(3) {
  font-weight: 600;
}
.block_presentation--united-working-text ul li:nth-of-type(3) img {
  width: 15px;
}
.block_presentation--cercle img {
  position: absolute;
  top: 12vh;
  left: -25vw;
  width: 93vw;
  z-index: -10;
}

@media screen and (min-width: 400px) {
  .block_presentation--united-gift {
    margin-top: -1rem;
  }
  .block_presentation--united-gift-img {
    width: 180px;
    margin-top: -1rem;
  }
  .block_presentation--united-working {
    column-gap: 10px;
  }
  .block_presentation--united-working ul {
    font-size: 0.7rem;
    width: 14rem;
  }
  .block_presentation--united-working-img {
    width: 120px;
  }
}
@media screen and (min-width: 490px) {
  .block_presentation {
    margin-top: 3rem;
  }
  .block_presentation--united-gift {
    justify-content: flex-start;
    padding-left: 4%;
  }
  .block_presentation--united-gift-img {
    width: 240px;
  }
  .block_presentation--united-gift p {
    font-size: 0.8rem;
  }
  .block_presentation--united-working {
    align-items: center !important;
    padding-right: 10%;
    column-gap: 1.5rem;
  }
  .block_presentation--united-working-img {
    width: 150px;
  }
  .block_presentation--united-working ul {
    font-size: 0.8rem;
  }
  .block_presentation--united-working ul li:nth-of-type(3) img {
    width: 1.2rem;
  }
  .block_presentation--cercle img {
    width: 95vw;
  }
}
@media screen and (min-width: 600px) {
  .block_presentation--united {
    row-gap: 3rem;
  }
  .block_presentation--united-gift p {
    font-size: 1rem;
    width: 15rem;
  }
  .block_presentation--united-working {
    column-gap: 3rem;
  }
  .block_presentation--united-working ul {
    font-size: 1rem;
    width: 16rem;
  }

  .block_presentation--cercle img {
    width: 100vw;
  }
}
@media screen and (min-width: 700px) {
  .block_presentation--united-gift {
    padding-left: 10vw;
  }
  .block_presentation--united-gift-img {
    width: 280px;
  }
  .block_presentation--united-gift h2 img {
    width: 20px;
    margin-right: -8px;
    padding-bottom: 10px;
  }
  .block_presentation--united-gift p {
    font-size: 1.2rem;
    width: 70%;
  }
  .block_presentation--united-working {
    column-gap: 2rem;
  }
  .block_presentation--united-working ul {
    font-size: 1.2rem;
    width: 20rem;
  }
  .block_presentation--united-working ul li:nth-of-type(3) img {
    width: 1.4rem;
  }
  .block_presentation--united-working-img {
    width: 180px;
  }
  .block_presentation--cercle img {
    top: 15vh;
  }
}
@media screen and (min-width: 900px) {
  .block_presentation--background {
    top: 0;
  }
  .block_presentation--united-gift {
    column-gap: 1.5rem;
    padding-left: 3rem;
    margin-top: 0;
  }
  .block_presentation--united-gift-img {
    width: 380px;
  }
  .block_presentation--united-working-img {
    width: 280px;
  }

  .block_presentation--cercle img {
    top: 25vh;
  }
}
@media screen and (min-width: 1000px) {
  .block_presentation {
    width: 1000px !important;
    margin: auto;
  }
  .block_presentation--background {
    top: 2rem;
  }
  .block_presentation--united-gift {
    padding-left: 5rem;
  }
  .block_presentation--united-gift img {
    margin-top: 1rem;
  }
  .block_presentation--cercle img {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1250px) {
  .block_presentation--united-gift-img {
    width: 420px;
  }

  .block_presentation--cercle img {
    left: -20vw;
  }
}
.block_position {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  flex-wrap: wrap;
  column-gap: 2rem;
  margin-top: 4rem;
}
.block_position--card iframe {
  width: 11rem;
  height: 11rem;
  z-index: 10;
  border: 2px dashed rgba(0, 90, 129, 0.5);
  padding: 5px;
  z-index: 10;
}
.block_position--search p {
  font-size: 0.7rem;
  color: rgb(94, 93, 93);
  padding-bottom: 0.7rem;
}

@media screen and (min-width: 400px) {
  .block_position--card iframe {
    width: 17rem;
    height: 17rem;
  }

  .block_position--search {
    margin-left: -10px;
  }
  .block_position--search p {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 500px) {
  .block_position {
    margin-top: 20%;
    align-items: center;
  }
  .block_position--card iframe {
    width: 22rem;
    height: 22rem;
  }
}
@media screen and (min-width: 750px) {
  .block_position {
    column-gap: 3.5rem;
  }
  .block_position--card iframe {
    width: 24rem;
    height: 24rem;
  }
  .block_position--search p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .block_position {
    justify-content: flex-start;
    margin-top: 15%;
    padding-left: 3%;
  }
  .block_position--card iframe {
    width: 30rem;
    height: 30rem;
  }
  .block_position--search {
    margin-top: 5rem;
  }
  .block_position--search p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1100px) {
  .block_position {
    margin-top: 17%;
    padding-left: 5%;
  }
  .block_position--card iframe {
    width: 33rem;
    height: 33rem;
    outline-offset: 12px;
  }
}
@media screen and (min-width: 1250px) {
  .block_position {
    margin-top: 10%;
  }
}
.block_mission {
  margin-top: 4rem;
  position: relative;
}
.block_mission--background {
  display: none;
}
.block_mission--united {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.block_mission--united-img img {
  width: 10rem;
  -webkit-border-radius: 50%;
  border-radius: 50% !important;
  border: 2px dashed rgba(0, 90, 129, 0.4);
  padding: 5px;
}
.block_mission--united-text {
  margin: auto;
  width: 70%;
  max-width: 26rem;
}
.block_mission--united-text p {
  padding-bottom: 1rem;
  font-size: 0.9rem;
}
.block_mission--united-text p:last-of-type {
  font-weight: 600;
}

@media screen and (min-width: 700px) {
  .block_mission {
    margin-top: 0;
  }
  .block_mission--background {
    display: block;
    position: absolute;
    width: 100%;
    z-index: -10;
    top: -4rem;
    left: 0;
  }
  .block_mission--united {
    flex-direction: row !important;
    justify-content: center;
    align-items: flex-end;
    column-gap: 3%;
    padding-top: 5rem;
  }
  .block_mission--united-img img {
    width: 13rem;
  }
  .block_mission--united-text {
    margin: 0;
    hyphens: auto;
    width: 45%;
  }
  .block_mission--united-text p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .block_mission--united-img img {
    width: 20rem;
    margin-bottom: -4rem;
  }
}
@media screen and (min-width: 1200px) {
  .block_mission--background {
    top: -7rem;
    left: 3rem;
    max-width: 90%;
  }
  .block_mission--united {
    margin-left: -5rem;
  }
  .block_mission--united-text p {
    width: 28rem;
  }
}
.block_shopkeepers {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.block_shopkeepers--text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 11rem;
  row-gap: 10px;
  padding-top: 30%;
  padding-left: 8px !important;
}
.block_shopkeepers--text-background {
  position: absolute;
  bottom: -2rem;
  left: -7rem;
  width: 220%;
  z-index: -10;
  -webkit-border-radius: 50%;
  border-radius: 50% !important;
  border: 2px dashed rgba(0, 90, 129, 0.4);
  padding: 5px;
}
.block_shopkeepers--text span {
  font-size: 0.6rem;
  color: rgb(94, 93, 93);
}
.block_shopkeepers--text p {
  font-size: 0.7rem;
}
.block_shopkeepers--img img {
  width: 11rem;
}
.block_shopkeepers--img-full {
  display: none;
}

@media screen and (min-width: 500px) {
  .block_shopkeepers--text {
    width: 15rem;
    margin-right: -3rem;
  }
  .block_shopkeepers--text-background {
    bottom: -4.5rem;
    width: 25rem;
  }
  .block_shopkeepers--text span {
    font-size: 0.7rem;
    margin-top: 5px;
  }
  .block_shopkeepers--text p {
    padding-top: 1rem;
    font-size: 1rem;
  }
  .block_shopkeepers--img img {
    width: 17rem;
  }
}
@media screen and (min-width: 700px) {
  .block_shopkeepers--text {
    width: 18rem;
  }
  .block_shopkeepers--text-background {
    bottom: -4rem;
    left: -9rem;
    width: 33rem;
  }
  .block_shopkeepers--text span {
    font-size: 0.9rem;
  }
  .block_shopkeepers--text p {
    font-size: 1.2rem;
  }
  .block_shopkeepers--img img {
    width: 23rem;
  }
}
@media screen and (min-width: 900px) {
  .block_shopkeepers {
    margin-top: 7rem;
  }
  .block_shopkeepers--text {
    margin-right: 0;
  }
  .block_shopkeepers--text-background {
    bottom: -6rem;
    left: -11rem;
    width: 38rem;
  }
  .block_shopkeepers--img img {
    width: 32rem;
  }
}
@media screen and (min-width: 1250px) {
  .block_shopkeepers--text {
    width: 19rem;
  }
  .block_shopkeepers--text p {
    width: 21rem;
  }
  .block_shopkeepers--img img {
    display: none;
  }
  .block_shopkeepers--img-full {
    display: block !important;
    width: 36rem !important;
    height: auto;
  }
}
.block_press {
  display: flex;
  flex-direction: column;
  padding-top: 27%;
  row-gap: 1rem;
}
.block_press img {
  width: 100%;
  height: auto !important;
  max-height: 20rem;
}
.block_press--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.block_press--text p {
  font-size: 0.7rem;
  width: 19rem;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .block_press--text p {
    font-size: 1rem;
    width: 25rem;
  }
}
@media screen and (min-width: 750px) {
  .block_press {
    row-gap: 2rem;
  }
  .block_press--text p {
    font-size: 1.2rem;
    width: 30rem;
  }
}
@media screen and (min-width: 1200px) {
  .block_press img {
    margin: auto;
    max-width: 1050px !important;
  }
  .block_press--text p {
    width: 35rem;
  }
}
.block_newspapers {
  max-width: 1200px;
}
.block_newspapers--img {
  position: relative;
}
.block_newspapers--img img {
  position: absolute;
  width: 100%;
  z-index: -10;
  top: 1rem;
  left: 0;
}
.block_newspapers--text {
  padding: 30% 0 0 5%;
}
.block_newspapers--text-card {
  width: 50%;
}
.block_newspapers--text-card p {
  font-size: 0.7rem;
}
.block_newspapers--text-point {
  color: #d0d0d0;
  font-size: 1.4rem;
  margin-top: -7px;
}
.block_newspapers--text-point span {
  font-weight: 700;
  margin-right: -3px;
}
.block_newspapers--text-point span:first-child {
  color: #000;
}

@media screen and (min-width: 500px) {
  .block_newspapers--img img {
    top: 3rem;
  }
  .block_newspapers--text {
    padding-top: 35%;
  }
  .block_newspapers--text-card p {
    font-size: 1rem;
  }
  .block_newspapers--text-point span {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 750px) {
  .block_newspapers--text {
    padding-top: 30%;
  }
  .block_newspapers--text-card {
    width: 45%;
  }
  .block_newspapers--text-card p {
    font-size: 1.2rem;
  }
}
.block_readyTogether {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  margin-top: 3rem;
}
.block_readyTogether--img img {
  width: 11rem;
}

@media screen and (min-width: 500px) {
  .block_readyTogether--img img {
    width: 40vw;
    max-width: 450px;
  }
  .block_readyTogether--text {
    margin: 1rem 0 0 -2rem;
  }
}
@media screen and (min-width: 750px) {
  .block_readyTogether--text {
    margin-top: 2.5rem;
  }
}
.block_footer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 6rem 0 2rem 5%;
  row-gap: 3rem;
  column-gap: 2rem;
}
.block_footer--background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100% !important;
  object-fit: cover;
  height: 105%;
}
.block_footer--background-full {
  display: none;
}
.block_footer li a {
  color: rgb(255, 255, 255) !important;
  font-size: 0.7rem;
}
.block_footer--contact {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.block_footer--contact-social-networks {
  display: flex;
  align-items: flex-end;
  column-gap: 1rem;
}
.block_footer--contact-social-networks img {
  width: 25px;
  height: 25px;
  padding: 8px;
  background-color: #00384c;
  border-radius: 8px;
  color: #fff;
}
.block_footer--contact-newsletter {
  display: flex;
  align-items: flex-end;
  column-gap: 1rem;
}
.block_footer--contact-newsletter img {
  width: 50px;
  height: auto;
}
.block_footer--contact-newsletter-registration {
  display: flex;
  flex-direction: column;
}

.copyright {
  background-color: #00384c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  padding: 1rem;
  row-gap: 0.5rem;
}
.copyright span {
  display: none;
}
.copyright p {
  color: #fff !important;
}

@media screen and (min-width: 500px) {
  .block_footer li a {
    font-size: 0.8rem;
  }
  .block_footer--background {
    height: 130%;
  }
}
@media screen and (min-width: 600px) {
  .block_footer--background {
    top: -11rem;
    height: 140%;
  }
}
@media screen and (min-width: 717px) {
  .block_footer--background {
    height: 33.5rem;
  }
}
@media screen and (min-width: 800px) {
  .block_footer--contact {
    row-gap: 2.5rem;
    margin: -2rem 0 0 auto !important;
    padding-right: 5%;
  }
  .block_footer--background {
    height: 36rem;
    top: -15rem;
    object-fit: fill;
  }

  .copyright {
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    font-size: 0.9rem;
  }
  .copyright span {
    display: block;
  }
}
@media screen and (min-width: 930px) {
  .block_footer--contact-social-networks {
    padding-left: 1.5rem;
    column-gap: 1.4rem;
  }
  .block_footer--contact-newsletter img {
    width: 70px;
  }
}
@media screen and (min-width: 1150px) {
  .block_footer {
    padding-top: 4rem;
  }
  .block_footer--suspend-us {
    padding-left: 15%;
  }
  .block_footer--contact {
    margin-left: 5rem !important;
  }

  .block_footer--background {
    display: none;
  }
  .block_footer--background-full {
    display: block;
    position: absolute;
    width: 100%;
    top: -16rem;
    z-index: -1;
    left: 0rem;
  }
}
@media screen and (min-width: 1250px) {
  .block_footer--background-full {
    top: -17rem;
  }
}
@keyframes appearNavbar {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
  }
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

header,
main,
.block_footer {
  max-width: 1250px !important;
  margin: auto;
}

footer {
  margin: auto;
}

h2, h3 {
  font-family: "Damion", cursive;
}

p {
  color: rgb(94, 93, 93);
}

/*# sourceMappingURL=style.css.map */
