@import "components/buttons";
@import "layout/footer";
@import "layout/nav";
@import "utils/keyframes";
@import "utils/variables";

*,
::after,
::before{
    margin:0;
    padding:0;
    text-decoration: none; 
}