@import "components/buttons";
@import "layout/nav";
@import "layout/block_presentation";
@import "layout/block_position";
@import "layout/block_mission";
@import "layout/block_shopkeepers";
@import "layout/block_press";
@import "layout/block_newspapers";
@import "layout/block_readyTogether";
@import "layout/block_footer";
@import "layout/footer";
@import "utils/keyframes";
@import "utils/variables";
@import "utils/mixins";

*,
::after,
::before{
    margin:0;
    padding:0;
    text-decoration: none; 
    list-style: none;
}

header,
main{
    width: 100%;
    max-width: 1250px!important;
    margin:auto;
}

footer{
    width: 100%;
    max-width: 1250px!important;
    margin:auto;
}
