@mixin button {
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
}

@mixin border-green{
    -webkit-border-radius: 50%;  
    border-radius: 50%!important; 
    border: 2px dashed rgba(0, 90, 129,0.4);
    padding: 8px;
}

@mixin border-blue{
    -webkit-border-radius: 50%;
    border-radius: 50%!important; 
    border: 2px dashed rgba(0, 90, 129,0.4);
    padding: 8px;
}

@mixin title{
    color: $dark-blue;
    font-weight: 300;
    font-size: 1.3rem;
}

@mixin inputBtn{
    border:2px solid $green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 0.7rem;
    max-width: 50%;
}

@mixin btnWithInput{
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    background-color: $blue;
    border: 2px solid $green;
    color: #fff;
    font-size: 0.7rem;
}