@mixin button {
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    color: #fff;
    font-size: 0.7rem;
}

@mixin border-green{
    outline: 1px dashed rgba(1, 181, 98, 0.5);;
    outline-offset: 8px;
    border-radius: 50%;  
    outline-style: dashed;
    outline-width: 2px;
}

@mixin border-blue{
    outline: 1px dashed rgba(0, 90, 129,0.5);
    outline-offset: 5px;
    border-radius: 50%;
    outline-style: dashed;
    outline-width: 2px;
}

@mixin title{
    color: $dark-blue;
    font-weight: 300;
    font-size: 1.1rem;
}

@mixin inputBtn{
    border:2px solid $green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 0.7rem;
    max-width: 40%;
}

@mixin btnWithInput{
    position: absolute;
    bottom: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: $blue;
    border: 2px solid $green;
    color: #fff;
    font-size: 0.7rem;
}