@mixin button {
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    color: #fff;
    font-size: 0.7rem;
}

@mixin border-green{
    outline: 1px dashed rgba(1, 181, 98, 0.5);;
    outline-offset: 8px;
    border-radius: 50%;  
    outline-style: dashed;
    outline-width: 2px;
}

@mixin border-blue{
    outline: 1px dashed rgba(0, 90, 129,0.5);
    outline-offset: 5px;
    border-radius: 50%;
    outline-style: dashed;
    outline-width: 2px;
}