// section block_newspapers HTML line 197 to 213
.block_newspapers{
    max-width: 1200px;
    &--img{
        position: relative;
        img{
            position: absolute;
            width: 100%;
            z-index: -10;
            top: 1rem;
            left: 0;
        }
    } 
    &--text{
        padding: 30% 0 0 5%;
        &-card{
            width: 50%;
            p {
                font-size: 0.7rem;
            }
        }
        &-point{
            color: #d0d0d0;
            font-size: 1.4rem;
            margin-top: -7px;
            span{
                font-weight: 700;
                margin-right: -3px;
                &:first-child{
                    color: #000;
                }
            }
        }
    }
}

@media screen and (min-width: 500px){
    .block_newspapers{
        &--img{
            img{
                top:3rem;
            }
        }
        &--text{
            padding-top: 35%;
            &-card p{
                font-size: 1rem;
            }
            &-point span{
                font-size: 2.2rem;
                
            }
        }
    }
}

@media screen and (min-width: 750px){
    .block_newspapers--text{
        padding-top: 30%;
        &-card{
            width: 45%;
            p{
                font-size: 1.2rem;
            }
        }
    }
}
