// section block_shopkeepers HTML line 146 to 159

.block_shopkeepers{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    &--text{
        position: relative;
        display: flex;
        flex-direction: column;
        width:11rem;
        row-gap:10px;
        padding-top:30%;
        padding-left: 8px!important;
        &-background{
            position: absolute;
            bottom:-2rem;
            left:-7rem;               
            width:220%;
            z-index: -10;
            @include border-green;
        }
        span{
            font-size: 0.6rem;
            color: $text-grey;
        }
        p {
            font-size: 0.7rem;
        }
    }
    &--img{
        img{
            width:11rem;  
        }
        &-full{
            display: none;
        }
    }
}  

@media screen and (min-width: 500px){
    .block_shopkeepers{
        &--text{
            width: 15rem;
            margin-right: -3rem;
            &-background{
                bottom: -4.5rem;
                width: 25rem;
            }
            span{
                font-size: 0.7rem;
                margin-top: 5px;
            }
            p {
                padding-top:1rem;
                font-size: 1rem;
            }
        }
        &--img img{
            width: 17rem;  
        }
    }
}

@media screen and (min-width: 700px){
    .block_shopkeepers{
        &--text{
            width: 18rem;
            &-background{
                bottom: -4rem;
                left: -9rem;
                width: 33rem;
            }
            span{
                font-size: 0.9rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        &--img img{
            width: 23rem;  
        }
    }
}

@media screen and (min-width: 900px){
    .block_shopkeepers{
        margin-top:7rem;
        &--text{
            margin-right: 0;
            &-background{
                bottom: -6rem;
                left: -11rem;
                width: 38rem;
            }
        }
        &--img img{
            width: 32rem;  
        }
    }
}

@media screen and (min-width: 1250px){
    .block_shopkeepers{
        &--text {
            width: 19rem;
            p{
                width: 21rem;
            }
        }
        &--img{
            img{
                display: none;
            }
            &-full {
                display:block!important;
                width: 36rem!important;;
                height: auto;
            }
        }
    }
}