//section block_presentation html line 59 at line 95
.block_presentation{
     &--gift{
        display:flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        z-index: 10;
        &-img{
            width: 160px;
            z-index:30;
        }
        &-text{
            margin-top:2.5rem;
            h2{
                font-size:14px;
                color: $blue;
                & img{
                    width:10px;
                    padding-bottom:6px;
                    margin-right: -4px;
                }
            }
            p{
                font-size: 9px;
                width: 9rem;
                padding: 10px 0;
            }
        }
    }
    &--working{
        display: flex;
        max-width:97%;
        justify-content: flex-end;
        align-items:center; 
        z-index:10;
        &-img{
            width: 110px;
            height:auto;
            object-fit: contain;
            z-index:30;
        }
        &-text{
            h2{
                font-size:14px;
                color: $blue;
            }
            ul{
                list-style: none;
                font-size:9px;
                width: 9rem;
                span{
                    color: $blue;
                }
                & li{
                    padding: 2px 0;
                    &:nth-of-type(3){
                        font-weight: 600;
                        
                        img{
                            width: 11px;
                        }
                    }
                }
            }
        }
    }
    &--background{
        position:absolute;
        width:97%;
        height: 21rem;
        top: 7.5rem;
        left:1rem;
        background-color: $grey;
        z-index:-10;
        border-radius: 50%;
        outline: 1px dashed $green;
        outline-offset: 8px;
        overflow: hidden;
    }
}


@media screen and (min-width: 430px){
    .block_presentation{
        &--gift{
            margin-top: -1rem;
            & p{
                font-size: 11px;
            }
        }
        &--working{
            padding-top: 3rem;
            column-gap: 1rem;
            max-width: 95%;
            & ul{
                font-size: 11px;
                width:10rem;
            }
            &-img{
                width:130px;
            }
        }
        &--background{
            height: 27rem;    
        }
    }
}


@media screen and (min-width: 500px){
    .block_presentation{
        margin-top: 3rem;
        &--gift{
            h2{
                font-size: 16px;
            }
            img{
                width:200px;
            }
            p{
                font-size: 12px;
            }
        }
        &--working{
            h2{
                font-size: 16px;
            }
            img{
                width: 160px;
            }
            ul{
                font-size: 12px;
            }
        }
        &--background{
            left:2rem;
            height: 30rem;
            width:93%;
        }
    }
}
