//section block_presentation html line 59 at line 95
.block_presentation{
    position: relative;
    &--background{
        width:96%;
        z-index:-10;
        position: absolute;
        top:7rem;
        left:1rem;
        outline: 1px dashed $green;
        outline-offset: 5px;
        border-radius: 50%;
    }
    &--united{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        &-gift{
            display:flex;
            align-items: center;
            justify-content: center;
            column-gap: 1rem;
            z-index: 10;
            
            &-img{
                width: 150px;
                z-index:30;   
            }
            &-text{
                margin-top:2.5rem;
                h2{
                    font-size:14px;
                    color: $blue;
                    & img{
                        width:10px;
                        padding-bottom:6px;
                        margin-right: -4px;
                    }
                }
                p{
                    font-size: 0.7rem;
                    width: 9rem;
                    padding: 10px 0;
                    color:rgb(94, 93, 93);
                }
            }
        }
        &-working{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start; 
            z-index:10;
            &-img{
                width: 80px;
                height:auto;
                object-fit: contain;
                z-index:30;
                border-radius: 50%;
                outline: 1px dashed $green;
                outline-offset: 0px;
            }
            &-text{
                h2{
                    font-size:14px;
                    color: $blue;
                }
                ul{
                    list-style: none;
                    font-size: 0.7rem;
                    width: 9rem;
                    color:rgb(94, 93, 93);
                    span{
                        color: $blue;
                        font-weight: 600;
                    }
                    & li{
                        padding: 2px 0;
                        &:nth-of-type(3){
                            font-weight: 600;
                            img{
                                width: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
     
}


@media screen and (min-width: 400px){
    .block_presentation--united{
        row-gap: 2rem;
        &-gift{
            margin-top:-1rem;
            &-img{
                width:180px;
            }
        }
        &-working{
            column-gap: 1rem;
            & ul{
                font-size: 11px;
                width:10rem;
            }
            &-img{
                width:120px;
            }
        }
    }
}


@media screen and (min-width: 500px){
    .block_presentation{
        margin-top: 3rem;
        &--united{
            &-gift{
                h2{
                    font-size: 16px;
                }
                &-img{
                    width: 40%; 
                }
            }
            &-working{
                align-items: center!important;
                padding-right:2rem;
                h2{
                    font-size: 16px;
                }
                &-img{
                    width: 33%;
                }
                ul{
                    width:12rem;
                }
            }
        }
    }
}

@media screen and (min-width: 600px){
    .block_presentation--united{
        &-gift p,
        &-working ul {
            font-size: 1rem;
            width:17rem;
        }
    }
}

@media screen and (min-width: 750px){
    .block_presentation{
        &--background{
            left:1.5rem;
        }
        &--united{
            &-gift{
                justify-content: flex-start;
                padding-left:5rem;
                h2{
                    font-size: 2rem;
                    & img{
                        width: 20px;
                        margin: 0 -8px ;
                        padding-bottom:10px;
                    }
                   
                } 
                & p{
                    font-size: 1.2rem;
                    width: 70%;
                }
            }
            &-working{
                column-gap: 3rem;
                ul {
                    font-size: 1.2rem;
                    width:19rem;
                }
                h2{
                    font-size: 2rem;
                }
            } 
            
        }
    }
}

@media screen and (min-width: 1100px){
    .block_presentation--united{
        &-gift{
            padding-left: 7rem;
            margin-top: -2.5rem;
            column-gap: 8%;
            h2{
                font-size: 3rem;
                & img{
                    width: 25px;
                    margin: 0 -12px;
                    padding-bottom: 18px;
                }
            }
            p{
                max-width: 30rem;
                padding:20px 0;
                font-size: 1.4rem;
                width: 25rem;
            }
        }
        &-working{
            padding-right: 5rem;
            h2{
                font-size: 2.5rem;
            }
            ul li{
                padding: 8px 0;
                font-size: 1.4rem;
                width:25rem;
                &:nth-child(3) img{
                    width: 23px;
                }
            }
        }
    }
}


@media screen and (min-width: 1400px){
    .block_presentation--united{
        &-gift{
            p{
                font-size: 1.7rem;
                width: 40rem;
            }
            h2{
               font-size: 3.5rem;
               & img{
                    width: 35px;
               }
            }
        } 
        &-working{
            column-gap: 12rem;
            & ul li{
                font-size: 1.7rem;
                width: 30rem;
            }
            h2{
                font-size: 2.5rem;;
            }
        }
    }
}