// section block_mission HTML line 124 to 139

.block_mission {
    margin-top:4rem;
    position: relative; 
    &--background{
       display: none;
    }
    &--united{
        display: flex; 
        flex-direction: column;
        align-items: center;
        row-gap:0.5rem;
        &-img img{
            width: 10rem;
            @include border-blue;
        }
        &-text{
            margin:auto;
            width:70%;
            max-width:26rem;
            p{
                padding-bottom: 1rem;
                font-size: 0.9rem;
                &:last-of-type{
                    font-weight: 600;
                }
            }
        } 
    }
}

@media screen and (min-width: 700px){
    .block_mission{
        margin-top:0;
        &--background{
            display: block;
            position: absolute;
            width: 100%;
            z-index: -10;
            top: -4rem;
            left: 0; 
        }
        &--united{
            flex-direction: row!important;
            justify-content: center;
            align-items: flex-end;
            column-gap:3%;
            padding-top: 5rem;
            &-img img{
                width: 13rem;
            }
            &-text{
                margin:0;
                hyphens: auto;
                width: 45%;
                p{
                    font-size:1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px){
    .block_mission--united{
        &-img img{
            width:20rem;
            margin-bottom:-4rem;  
        }
    }
}

@media screen and (min-width: 1200px){
    .block_mission{
        &--background{
        top:-7rem;
        left:3rem;
        max-width: 90%;
        }
        &--united{
            margin-left:-5rem;
            &-text p{
                width:28rem;
            }
        }
    }
}
