// section block_mission HTML line 124 to 139

.block_mission {
    margin-top:4rem;
    position: relative; 
    &--background{
       display: none;
    }
    &--united{
        display: flex; 
        flex-direction: column;
        align-items: center;
        row-gap:0.5rem;
        &-img img{
            width: 10rem;
            @include border-blue;
        }
        &-text{
            margin:auto;
            width:70%;
            max-width:27rem;
            h3{
                font-size: 0.9rem;
                color: $blue;
                padding-bottom: 1rem;   
            }
            p{
                padding-bottom: 1rem;
                color: $text-grey;
                &:last-of-type{
                    font-weight: 600;
                }
            }
        } 
    }
}

@media screen and (min-width: 400px){
    .block_mission--united-text{
        h3{
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 700px){
    .block_mission{
        margin-top:0;
        &--background{
            display: block;
            position: absolute;
            width: 100%;
            z-index: -10;
            top: -4rem;
            left: 0; 
        }
        &--united{
            flex-direction: row!important;
            justify-content: center;
            align-items: flex-end;
            column-gap:3%;
            padding-top: 2rem;
            &-img img{
                width: 11rem;
            }
            &-text{
                margin:0;
                h3{
                    font-size:1.7rem;
                }
                p{
                    font-size:1.2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px){
    .block_mission--united{
        &-img img{
            width:20rem;
            margin-bottom:-4rem;  
        }
    }
}

@media screen and (min-width: 1200px){
    .block_mission{
        &--background{
        top:-7rem;
        left:1rem;
        }
        &--united{
            margin-left:-5rem;
            padding-top:5rem;
            &-text p{
                width:33rem;
                hyphens: auto;
            }
        }
    }
}
