//section block_presentation HTML line 59 at line 95
//background-cercle in the HTML line 117

.block_presentation{
    position: relative;
    &--background{
        width:100%;
        z-index:-10;
        position: absolute;
        top: -2rem;
        left:0;
        @include border-green;
    }
    &--united{
        display: flex;
        flex-direction: column;
        &-gift{
            display:flex;
            align-items: center;
            justify-content: center;
            column-gap: 5px;
            z-index: 10;
            &-img{
                width: 140px; 
                z-index:30;   
                margin-top: -2rem;
            }
            &-text p{
                font-size: 0.6rem;
                width: 9rem;
                padding: 5px 0; 
            }
        }
        &-working{
            display: flex;
            justify-content: flex-end;
            padding-right:1.5rem;
            column-gap:10px;
            align-items: center; 
            z-index:10;
            &-img{
                width: 70px;
                height:auto;
                object-fit: contain;
                z-index:30;
                display: inline-block;
                border-radius: 50%!important;  
                @include border-blue;
            }
            &-text{
                ul{
                    list-style: none;
                    font-size: 0.6rem;
                    width: 12rem;
                    color:rgb(94, 93, 93);
                    span{
                        color: $blue;
                        font-weight: 600;
                    }
                    & li:nth-of-type(3){
                        font-weight: 600;
                        img{
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
    &--cercle img{
        position: absolute;
        top: 12vh;
        left: -25vw;
        width:93vw;
        z-index:-10;
    }
}

@media screen and (min-width: 400px){
    .block_presentation--united{
        &-gift{
            margin-top:-1rem;
            &-img{
                width:180px;
                margin-top: -1rem;
            }
        }
        &-working{
            column-gap: 10px;
            & ul{
                font-size: 0.7rem;
                width:14rem;
            }
            &-img{
                width:120px;
            }
        }
    }
}

@media screen and (min-width: 490px){
    .block_presentation{
        margin-top: 3rem;
        &--united{
            &-gift{
                justify-content: flex-start;
                padding-left: 4%;
                &-img{
                    width: 240px; 
                }
                p{
                    font-size:0.8rem;
                }
            }
            &-working{
                align-items: center!important;
                padding-right:10%;
                column-gap:1.5rem;
                &-img{
                    width: 150px;
                }
                ul{
                    font-size: 0.8rem;
                    li:nth-of-type(3) img{
                        width: 1.2rem;
                    }
                }
            }
        }
        &--cercle img{
            width:95vw;
        }
    }
}

@media screen and (min-width: 600px){
    .block_presentation--united{
        row-gap:3rem;
        &-gift p{
            font-size:1rem;
            width:15rem;
        }
        &-working{
            column-gap:3rem;
            ul {
                font-size: 1rem;
                width:16rem;
            }
        }
    }
    .block_presentation--cercle img{
        width:100vw;
    }
}

@media screen and (min-width: 700px){
    .block_presentation{
        &--united{
            &-gift{
                &-img{
                    width:280px;
                }
                padding-left: 10vw;
                h2 img{
                    width: 20px;
                    margin-right: -8px;
                    padding-bottom:10px;
                }
                & p{
                    font-size: 1.2rem;
                    width: 70%;
                }
            }
            &-working{
                column-gap: 2rem;
                ul {
                    font-size: 1.2rem;
                    width:20rem;
                    li:nth-of-type(3) img{
                        width: 1.4rem;
                    }
                }
                &-img{
                    width:180px;
                }
            } 
        }
        &--cercle img{
            top: 15vh;
            
        }
    }
}

@media screen and (min-width: 900px){
    .block_presentation{
        &--background{
            top: 0;
        }
        &--united-gift{
            column-gap:1.5rem;
            padding-left:3rem;
            margin-top: 0;
            &-img{
                width: 380px;
            }
        }
        &--united-working-img{
            width: 280px;
        }
    }
    .block_presentation--cercle img{
        top: 25vh;
    }
}

@media screen and (min-width: 1000px){
    .block_presentation{
        width: 1000px!important;
        margin:auto;
        &--background{
            top: 2rem;
        }
        &--united-gift{
            padding-left: 5rem;
            img{
                margin-top: 1rem;
            }
        }
        &--cercle img{
            max-width: 1000px;
            
        }
    }
}

@media screen and (min-width: 1250px){
    .block_presentation--united-gift-img{
        width:420px;
    }
    .block_presentation--cercle img{
        left:-20vw;
    }
}
