//section block_readyTogether HTML line 215 at line 228
.block_readyTogether{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    margin-top: 3rem;
    &--img img {
        width: 11rem;
    }
    &--text h3{
        @include title;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 500px){
    .block_readyTogether{
        &--img img{
            width: 40vw;
            max-width: 450px;
        }
        &--text{
            margin: 1rem 0 0 -2rem;
            h3{
                font-size: 1.1rem;
            }
        }
    }
}

@media screen and (min-width: 750px){
    .block_readyTogether--text{
        margin-top:2.5rem;
        h3{
            font-size: 1.7rem;
        }
    }
}

@media screen and (min-width: 1000px){
    .block_readyTogether--text h3{
        font-size: 2rem;
    }
    
}

@media screen and (min-width: 1200px){
    .block_readyTogether--text h3{
        font-size: 2.2rem;
    }
}

