@import "../utils/variables";

.nav{
    &_logo img{
        max-width: 250px;
        height: auto;
    }
    &_menu{
        list-style: none;
        line-height: 1.3rem;
        color: $blue;
        span{
            display: none;
        }
    }
    &_hamburger{
        width:100%;
        text-align: center;  
        button{
            border: none;
            background-color: #fff;;
        }      
    }
}