@import "../utils/variables";
@import "../utils/mixins";

//buttons on the body top right HTML line 59 at 64
.selectChoice{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
    &_offer,
    &_receive{
        @include button;
        width: 68px;
        text-align: left!important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
    }
    &_offer{
        background-color: $green;
    }
    &_receive{
        background-color: $blue;
    }
}

//button in the block_presentation HTML line 75 at 76
.block_presentation--united-gift-text button{
    background-color: $green;
    @include button;
}

//button in the block_position HTML line 120 to 124
.block_position--search-button{
    position: relative;
    img{
        position: absolute;
        width:15px;
        top: 5px;
        left:4px;
    }
    input{
        @include inputBtn;
        padding: 7px 35px 5px 25px;
    }
    button{
        @include btnWithInput;
        right: 0.5rem; //
        padding: 6px 5px; //
    }
}

//button in the block_mission HTML line 138 to 141
.block_mission--united-text button{
    background-color: $green;
    @include button;
}

// buttonS in the block_shopkeepers HTML line 154 et line 155
.block_shopkeepers--text {
    &-btn1{
        background-color: $green;
        @include button;
    }
    &-btn2{
        background-color: $blue;
        @include button;
    }
}

//button in the block_press HTML line 192 to 193
.block_press--text button {
    background-color: $green;
    @include button;
} 

//button in the block_readyTogether HTML line 222 to 226
.block_readyTogether--text-button{
    position: relative;
    img{
        position: absolute;
        width:15px;
        top: 6px;//
        left:4px;
    }
    input{
        @include inputBtn;
        padding: 5px 60px 5px 20px; //
    }
    button{
        @include btnWithInput;
        right: 0rem; //
        padding: 5px 15px;  //
    }
}

//button in the block_footer below newsletter HTML line 275 to 278
.block_footer--contact-newsletter-registration-btn{
    input{
        border-radius: 5px;
        border: none;
        padding: 4px 10px;
        margin: 0 5px 5px 0;
        font-size: 0.7rem;
    }
    button{
        background-color: $green;
        border: none;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 600;
    }
}

@media screen and (min-width: 490px){
    .block_position--search-button{
        & img{
            width: 19px;
            top: 6px;
            left:4px;
        }
        & input {
            width:8.5rem;
            padding: 6px 65px 6px 25px;  
        }
        & button{
            padding: 6px;
        }
    }
    .selectChoice{
        position: absolute; 
        right: 0;
        top: 5rem;
    }
    .block_readyTogether--text-button{
        margin-top:10px;
        input{
            padding: 6px 65px 6px 25px; //
        }
        button{
            padding: 6px 15px; 
        }
    }
}

@media screen and (min-width: 750px){
    .selectChoice{
        &_offer,
        &_receive{
            font-size: $writingSizePhone;
            width: 90px!important;
            padding-left: 25px;
        }
    }
    .block_position--search-button{
        & input {
            font-size:0.9rem;
            width: 11rem;
        }
        & button{
            font-size: $writingSizePhone;
        }
        & img{
            width: 22px;
        }
    }
    .block_presentation--united-gift-text button,
    .block_mission--united-text button,
    .block_shopkeepers--text-btn1,
    .block_shopkeepers--text-btn2,
    .block_press--text button{
        font-size: $writingSizePhone;
    }    
    .block_readyTogether--text-button{
        & img{
            width: 22px;
        }
        input{
            padding: 7px 65px 7px 25px; 
            font-size: $writingSizePhone; 
            width:14rem;
        }
        button{
            padding: 7px 20px; 
            font-size: $writingSizePhone;
        }
    }
}

@media screen and (min-width: 900px){
    .selectChoice{
        top:7rem;
    }
    .block_position--search-button input{
        width: 10rem;
        padding-right: 80px;
    }
    .block_shopkeepers--text {
        &-btn1{
            margin-top:1rem;
        }
    }
    .block_footer--contact-newsletter-registration-btn{
        input{
            width:13rem;
        }
    }
}

@media screen and (min-width: 1000px){
    .block_presentation--united-gift-text button,
    .block_mission--united-text button,
    .block_press--text-button-btn1,
    .block_press--text-button-btn2{
        padding: 12px 15px;
    }

    .block_position--search-button{
        button {
            padding-left: 1.5rem!important;
            padding-right: 1.5rem;
            right: -0.5rem!important;
        }
    }
}

@media screen and (min-width: 1200px){
    .selectChoice{
        top: 8.5rem;
        row-gap: 7px;
        &_offer,
        &_receive{
            width: 120px!important;
            padding: 12px 0 12px 35px;
            font-size: 17px;
        }
    }

    .block_presentation--united-gift-text button{
        padding: 10px 20px;
        font-size: $writingSizeTablet;
    }

    .block_position--search-button{
        button {
            padding: 0.7rem 1.5rem;
            font-size: $writingSizeTablet;
            right: 0!important;
        }
        & input {
            padding: 11px 45px;
            margin-top: 1rem; 
            font-size: $writingSizeTablet;
            width:16rem;
            max-width: 45%;
        }
        img{
            top: 23px;
            left:8px;
            width: 30px;
        }
    }

    .block_mission--united-text button{
        font-size: $writingSizeTablet;
        padding: 12px 25px;
        margin-top: 0.9rem;
    }

    .block_shopkeepers--text {
        &-btn1,
        &-btn2{
            padding: 12px 25px;
        }
    }

    .block_press--text button {
        padding: 12px 25px;
    }

    .block_readyTogether--text-button{
        img{
            width: 25px;
            top: 8px;
        }
        input{
            padding: 10px 65px 10px 35px; 
            font-size: $writingSizePhone;//
            width:15rem;
            max-width: 50%;
        }
        button{
            padding: 10px 20px; 
            font-size: $writingSizePhone;
        }
    }
    
    .block_footer--contact-newsletter-registration-btn{
        input{
            width:16rem;
        }
    }

}
