@import "../utils/variables";
@import "../utils/mixins";

//buttons on the body top right HTML line 59 at 64
.selectChoice{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
    &_offer,
    &_receive{
        border: none;
        width: 68px;
        color: #fff;
        text-align: left!important;
        padding: 7px 0 7px 15px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        font-size: 11px;
        cursor: pointer;
    }
    &_offer{
        background-color: $green;
    }
    &_receive{
        background-color: $blue;
    }
}

//button in the block_presentation HTML line 75 at 76
.block_presentation--united-gift-text button{
    background-color: $green;
    @include button;
}

//button localisation HTML line 120 to 124
.block_position--search-button{
    position: relative;
    img{
        position: absolute;
        width:15px;
        top: 5px;
        left:4px;
    }
    input{
        border:2px solid $green;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        font-size: 0.7rem;
        max-width: 40%;
        padding: 7px 35px 5px 25px;
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0.5rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 6px 5px;
        background-color: $blue;
        border: 2px solid $green;
        color: #fff;
        font-size: 0.7rem;
    }
}

//button mission HTML line 138 to 141
.block_mission--united-text button{
    background-color: $green;
    @include button;
}

// buttonS shopkeepers HTML line 154 et line 155
.block_shopkeepers--text {
    &-btn1{
        background-color: $green;
        @include button;
    }
    &-btn2{
        background-color: $blue;
        @include button;
    }
}

//button contact HTML line 192 to 193
.block_press--text button {
    background-color: $green;
    @include button;
} 

//button ready together? HTML line 222 to 226
.block_readyTogether--text-button{
    position: relative;
    img{
        position: absolute;
        width:15px;
        top: 6px;//
        left:4px;
    }
    input{
        border:2px solid $green;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        font-size: 0.7rem;
        max-width: 40%;
        padding: 5px 40px 5px 20px; //
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 5px 15px;  //
        background-color: $blue;
        border: 2px solid $green;
        color: #fff;
        font-size: 0.7rem;
    }
}


@media screen and (min-width: 490px){
    .block_position--search-button{
        & img{
            width: 19px;
            top: 6px;
            left:4px;
        }
        & input {
            width:8.5rem;
            padding: 6px 65px 6px 25px;  
        }
        & button{
            padding: 6px;
        }
    }
    .selectChoice{
        position: absolute; 
        right: 0;
        top: 5rem;
    }
    .block_readyTogether--text-button{
        margin-top:10px;
        input{
            padding: 6px 65px 6px 25px; //
        }
        button{
            padding: 6px 15px; 
        }
    }
}

@media screen and (min-width: 750px){
    .selectChoice{
        &_offer,
        &_receive{
            font-size: $writingSizePhone;
            width: 90px!important;
            padding-left: 25px;
        }
    }
    .block_presentation--united-gift-text button{
        font-size: $writingSizePhone;
    }
    .block_position--search-button{
        & input {
            font-size:0.9rem;
        }
        & button{
            font-size: $writingSizePhone;
        }
        & img{
            width: 22px;
        }
    }
    .block_mission--united-text button{
        font-size: $writingSizePhone;
    }
    .block_shopkeepers--text {
        &-btn1,
        &-btn2{
            font-size: $writingSizePhone;
        }
    }
    .block_press--text button {
        font-size: $writingSizePhone;
    }
    .block_readyTogether--text-button{
        & img{
            width: 22px;
        }
        input{
            padding: 7px 65px 7px 25px; 
            font-size: $writingSizePhone; //
            width:14rem;
        }
        button{
            padding: 7px 20px; 
            font-size: $writingSizePhone;
        }
    }
}

@media screen and (min-width: 900px){
    .selectChoice{
        top:7rem;
    }
    .block_shopkeepers--text {
        &-btn1{
            margin-top:1rem;
        }
    }
}

@media screen and (min-width: 1000px){
    .block_presentation--united-gift-text button{
        padding: 12px 15px;
    }
    .block_position--search-button{
        button {
            padding-left: 1.5rem!important;
            padding-right: 1.5rem;
            right: -0.5rem!important;
        }
    }
    .block_mission--united-text button{
        padding: 12px 15px;
    }
    .block_shopkeepers--text {
        &-btn1,
        &-btn2{
            padding: 12px 15px;
        }
    }
    .block_press--text button {
        padding: 12px 15px;
    }
}

@media screen and (min-width: 1200px){
    .selectChoice{
        top: 8.5rem;
        row-gap: 7px;
        &_offer,
        &_receive{
            width: 120px!important;
            padding: 12px 0 12px 35px;
            font-size: 17px;
        }
    }
    .block_presentation--united-gift-text button{
        padding: 10px 20px;
        font-size: $writingSizePhone;
    }
    .block_position--search-button{
        button {
            padding: 0.7rem 1.5rem;
            font-size: $writingSizeTablet;
            right: 0!important;
        }
        & input {
            padding: 11px 45px;
            margin-top: 1rem; 
            font-size: $writingSizeTablet;
            width:19rem;
            max-width: 45%;
        }
        img{
            top: 23px;
            left:8px;
            width: 30px;
        }
    }
    .block_mission--united-text button{
        font-size: $writingSizeTablet;
        padding: 12px 25px;
        margin-top: 0.9rem;
    }
    .block_shopkeepers--text {
        &-btn1,
        &-btn2{
            padding: 12px 25px;
        }
    }
    .block_press--text button {
        padding: 12px 25px;
    }
    .block_readyTogether--text-button{
        img{
            width: 25px;
            top: 8px;
        }
        input{
            padding: 10px 65px 10px 35px; 
            font-size: $writingSizePhone;//
            width:18rem;
            max-width: 50%;
        }
        button{
            padding: 10px 20px; 
            font-size: $writingSizePhone;
        }
    }

}
