@import "../utils/variables";
@import "../utils/mixins";

//buttons on the body top right HTML line 59 at 64
.selectChoice{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
    &_offer,
    &_receive{
        border: none;
        width: 68px;
        color: #fff;
        text-align: left!important;
        padding: 7px 0 7px 15px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        font-size: 11px;
        cursor: pointer;
    }
    &_offer{
        background-color: $green;
    }
    &_receive{
        background-color: $blue;
    }
}

//button in the block_presentation HTML line 75 at 76
.block_presentation--united-gift-text button{
    background-color: $green;
    @include button;
}

//button localisation HTML line 120 to 124
.block_position--search-button{
    position: relative;
    img{
        position: absolute;
        width:15px;
        top: 5px;
        left:4px;
    }
    input{
        border:2px solid $green;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        font-size: 0.7rem;
        max-width: 40%;
        padding: 7px 35px 5px 25px;
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0.5rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 6px 5px;
        background-color: $blue;
        border: 2px solid $green;
        color: #fff;
        font-size: 0.7rem;
    }
}

//button mission HTML line 138 to 141
.block_mission--united-text button{
    background-color: $green;
    @include button;
}

// buttonS shopkeepers HTML line 154 et line 155
.block_shopkeepers--text {
    &-btn1{
        background-color: $green;
        @include button;
    }
    &-btn2{
        background-color: $blue;
        @include button;
    }
}


@media screen and (min-width: 490px){
    .block_position--search-button{
        & img{
            width: 19px;
            top: 6px;
            left:4px;
        }
        & input {
            max-width: 40%;
            padding: 8px 30px;   
        }
        & button{
            padding: 8px;
        }
    }
    .selectChoice{
        position: absolute; 
        right: 0;
        top: 5rem;
    }
    .block_shopkeepers--text {
        &-btn1,
        &-btn2{
            font-size: 0.7rem;
        }
    }
}

@media screen and (min-width: 750px){
    .selectChoice{
        &_offer,
        &_receive{
            font-size: 0.9rem;
            width: 90px!important;
            padding-left: 25px;
        }

    }
    .block_presentation--united-gift-text button{
        font-size: 0.9rem;
    }
    .block_position--search-button{
        & input {
            max-width: 60%;
            font-size:0.9rem;
        }
        & button{
            font-size: 0.9rem;
        }
        & img{
            width: 23px;
        }
    }
    .block_mission--united-text button{
        font-size:0.9rem;
    }
    .block_shopkeepers--text {
        &-btn1,
        &-btn2{
            font-size: 0.9rem;
        }
    }
}

@media screen and (min-width: 900px){
    .selectChoice{
        top:7rem;
    }
    .block_shopkeepers--text {
        &-btn1{
            margin-top:1rem;
        }
    }
}

@media screen and (min-width: 1000px){
    .block_position--search-button{
        button {
            padding-left: 1.5rem!important;
            padding-right: 1.5rem;
            right: -0.5rem!important;
        }
    }
    .block_shopkeepers--text {
        &-btn1,
        &-btn2{
            padding: 12px 15px;;
        }
    }
}

@media screen and (min-width: 1200px){
    .selectChoice{
        top: 8.5rem;
        row-gap: 7px;
        &_offer,
        &_receive{
            width: 120px!important;
            padding: 12px 0 12px 35px;
            font-size: 17px;
        }
    }
    .block_presentation--united-gift-text button{
        padding: 10px 20px;
        font-size: 0.9rem;
    }
    .block_position--search-button{
        & input {
            width: 250px;
        }
        button {
            padding: 0.7rem 1.5rem;
            font-size: 1rem;
            right: 0!important;
        }
        & input {
            padding: 11px 45px;
            margin-top: 1rem; 
            font-size: 1rem;  
        }
        img{
            top: 23px;
            left:8px;
            width: 30px;
        }
    }
    .block_mission--united-text button{
        font-size:1rem;
        padding: 12px 25px;
        margin-top: 1rem;
    }


}

// @media screen and (min-width: 1500px){
//     .block_presentation--united-gift-text button{
//         padding: 10px 30px;
//         font-size: 1rem;
//     }
// }